pom.xml
*jar
/lib/
/classes/
/out/
/target/
/.local/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.cpcache/
.rebel_readline_history
\#*
*~
.#*
/resources/public/cljs-out/
.lein-failures
.clj-kondo
/.dir-locals.el
/flycheck_.dir-locals.elc
/.idea/
mzero.iml
