body {
    background-color: black;
}
#lapy-arrows {
    position: fixed;
}
#lapy-arrows img {
    height: 70px;
}
		
#lapyrinthe table {
    border: 5px solid black;
    border-radius: 10px;
    padding: 1em;
}

#lapyrinthe td {
    width: 25px;
    height: 25px;
}

#lapyrinthe td.wall {
    background-image: url("../img/wall.png");
    background-size: 25px 25px;
}

#lapyrinthe td.fruit {
    background-image: url("../img/strawberry.gif");
    background-size: 25px 25px;
}

#lapyrinthe td.cheese {
    background-image: url("../img/cheese.gif");
    background-size: 25px 25px;
}

#lapyrinthe td.player {
    background-image: url("../img/rabbit2.png");
    background-size: 25px 25px;
}

.board-icon {
    height: 17px;
    width: 17px;
}
		
#lapyrinthe .score {
    position: relative;
    height: 33px;
    top: -28px;
    float: right;
    right: 874px;
    width: 6em;
    border: 5px solid black;
    font-weight: 900;
    font-size: 1.2em;
    font-family: "Lucida Sans Typewriter";
    background-color: white;
}

#h h2.subtitle {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 18px;
    color: #bb0000;
    font-weight: 600;
}
#h h2.subtitle span {
    background-color: white;
    background-opacity: 0.7;
}

#surprise {
    background-image: url("../img/rabbit-wallp.jpg");
    background-repeat: repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#surprise img {
    width: 25%;
    margin-left: 37.5%;
    margin-top: 5%;
    opacity: 0.7;
}

#surprise img:hover {
    opacity: 1;
}

			 
.game-over {
    display: none;
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
}	      
.game-over img {
    position: relative;
    margin-top: 10%;
    width: 33%;
    left: 33%;
    display: block;
}
.game-over button {
    margin-top: 1em;
    color: black;
}
